{% extends 'base.html' %}

{% block sidebar %}
<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;background-color: #234154;" id="mySidebar"><br>
  {% if request.user.is_authenticated %}
  <div class="w3-bar-item" style="margin-left: 15px;">
    <span style="color: antiquewhite;">Bienvenido <strong>{{ request.user.username }}</strong></span><br>
  </div>
  <button class="w3-bar-item w3-button w3-left login-btn " style="margin-bottom:10px;color:#f33d30;" onclick="showLogoutModal()">Logout</button>
  {% else %}
  <button class="w3-bar-item w3-button w3-left login-btn " style="margin-bottom:10px;color:#f33d30;" onclick="document.getElementById('loginModal').style.display='block'">Login</button>
  {% endif %}
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 style="color:azure;"><b>INTRALOG<br>Metrics</b></h3>
  </div>
  <div class="w3-bar-block">
    <a href="{% url 'home' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" style="color: antiquewhite;margin-top:30px;">Home</a>
    {% if request.user.is_authenticated %}
        <a href="{% url 'kpisentregas' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" style="color: antiquewhite;">Regresa al panel de metricas</a>
        <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" style="color: antiquewhite;">Metricas WareHousing</a>

      {% if request.user.is_management or request.user.is_superuser %}
      <a href="{% url 'adminpanel' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" style="color: #f33d30;">Admin Panel</a>
      {% endif %}
      {% if request.user.is_superuser %}
      {% endif %}
    {% endif %}
  </div>
{% endblock %}

{% block main_page %}
<div class="w3-container" style="margin-top:50px" id="showcase">
    <h1 class="w3-jumbo"><b>Panel de métricas de entregas interior INTRALOG</b></h1>
    <div class="w3-container" id="services" style="margin-top:30px">
        <hr style="width:50px;border:5px solid #000000" class="w3-round">
        <p>Bienvenido al panel de KPIs para las operaciones de entregas INTERIOR</p>
    </div>
</div>

<div class="w3-container" id="ambadiv" style="margin-top:70px">
  <h1 class="w3-xxxlarge w3-text-red"><b>Metricas de tendencia central</b></h1>
  <hr style="width:50px;border:5px solid #f33d30" class="w3-round">
  <p>Analiza las principales medidas de tendencia central para la operacion de entregas en el interior</p>
  <!-- <p>Además, tendrás acceso a una visión general del desglose de las entregas fallidas, permitiendo identificar patrones y tendencias clave en el desempeño operativo.</p> -->
  <a href="{% url 'entregas_interior_central' %}" class="w3-button w3-green w3-margin-top" >Ir a metricas de tendencia central</a>

  <h1 class="w3-xxxlarge w3-text-red" style="margin-top:70px"><b>Vista descriptiva Fallidos</b></h1>
  <hr style="width:50px;border:5px solid #f33d30" class="w3-round">
  <p>En esta vista podrás analizar el desglose de las entregas fallidas, diferenciando entre las atribuibles al cliente y aquellas derivadas de problemas logísticos.</p>
  <p>Esto te permitirá comprender mejor las razones detrás de los fallos y adoptar estrategias específicas para su mejora.</p>
  <a href="{% url 'entregas_amba_failed' %}" class="w3-button w3-green w3-margin-top" >ir a Entregas Vista desambiguacion</a>
</div>


{% endblock %}