{% extends 'base.html' %}

{% block sidebar %}
<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;background-color: #234154;" id="mySidebar"><br>
  {% if request.user.is_authenticated %}
  <div class="w3-bar-item" style="margin-left: 15px;">
    <span style="color: antiquewhite;">Bienvenido <strong>{{ request.user.username }}</strong></span><br>
  </div>
  <button class="w3-bar-item w3-button w3-left login-btn " style="margin-bottom:10px;color:#f33d30;" onclick="showLogoutModal()">Logout</button>
  {% else %}
  <button class="w3-bar-item w3-button w3-left login-btn " style="margin-bottom:10px;color:#f33d30;" onclick="document.getElementById('loginModal').style.display='block'">Login</button>
  {% endif %}
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 style="color:azure;"><b>INTRALOG<br>Metrics</b></h3>
  </div>
  <div class="w3-bar-block">
    <a href="{% url 'home' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" style="color: antiquewhite;margin-top:30px;">Home</a>
    {% if request.user.is_authenticated %}
        <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" style="color: antiquewhite;">Metricas WareHousing</a>

      {% if request.user.is_management or request.user.is_superuser %}
      <a href="{% url 'adminpanel' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" style="color: #f33d30;">Admin Panel</a>
      {% endif %}
      
    {% endif %}
  </div>
{% endblock %}

{% block main_page %}
<div class="w3-container" style="margin-top:50px" id="showcase">
        <h1 class="w3-jumbo"><b>Panel de metricas de entregas INTRALOG</b></h1>

    <div class="w3-container" id="services" style="margin-top:30px">
    <hr style="width:50px;border:5px solid #000000" class="w3-round">
    <p>Bienvenido al panel principal de KPIs para las operaciones de entregas</p>
    <p>
      Seleccione alguna de las siguientes opciones de visualizacion
    </p>
</div>

<div class="w3-container" id="services" style="margin-top:70px; margin-bottom: 100px;">
    <h1 class="w3-xxxlarge w3-text-red"><b>Entregas AMBA</b></h1>
    <hr style="width:50px;border:5px solid #f33d30" class="w3-round">
    <p>Aqui podras visualizar las principales metricas de la operacion de entregas en el area de AMBA</p>
    <a href="{% url 'entregas_amba' %}" class="w3-button w3-green w3-margin-top" >ir a Entregas AMBA</a>    
</div>

<div class="w3-container" id="services" style="margin-top:70px; margin-bottom: 100px;">
  <h1 class="w3-xxxlarge w3-text-red"><b>Entregas INTERIOR</b></h1>
  <hr style="width:50px;border:5px solid #f33d30" class="w3-round">
  <p>Aqui podras visualizar las principales metricas de la operacion de entregas en el area INTERIOR</p>
  <a href="{% url 'entregas_interior' %}" class="w3-button w3-green w3-margin-top" >ir a Entregas INTERIOR</a>    
</div>
{% endblock %}