{% extends 'base.html' %}
{% block main_page %}
<div class="w3-container" style="margin-top:50px" id="showcase">
    <h1 class="w3-jumbo"><b>404 - Página no encontrada</b></h1>
</div>
<div class="w3-container" id="services" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Lo sentimos, pero la página que buscas no existe.</b></h1>
    <hr style="width:50px;border:5px solid #f33d30" class="w3-round">
    <p>Por favor, verifica la URL o vuelve al <a href="{% url 'home' %}">inicio</a>.</p>
</div>
{% endblock %}