{% extends 'base.html' %}
{% block main_page %}
<div class="w3-container" style="margin-top:50px" id="showcase">
    <h1 class="w3-jumbo"><b>ACCESO no autorizado</b></h1>
</div>

<div class="w3-container" id="services" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Tu usuario no posee permisos para acceder a este modulo</b></h1>
    <hr style="width:50px;border:5px solid #f33d30" class="w3-round">
    <p>Si consideras que esto es un error por favor contactate con el administrador de la pagina</p>
</div>
{% endblock %}