{% extends 'base.html' %}
{% csrf_token %}

{% block sidebar %}
<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;background-color: #234154;" id="mySidebar"><br>
  {% if request.user.is_authenticated %}
  <div class="w3-bar-item" style="margin-left: 15px;">
    <span style="color: antiquewhite;">Bienvenido <strong>{{ request.user.username }}</strong></span><br>
  </div>
  <button class="w3-bar-item w3-button w3-left login-btn " style="margin-bottom:10px;color:#f33d30;" onclick="showLogoutModal()">Logout</button>
  {% else %}
  <button class="w3-bar-item w3-button w3-left login-btn " style="margin-bottom:10px;color:#f33d30;" onclick="document.getElementById('loginModal').style.display='block'">Login</button>
  {% endif %}
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 style="color:azure;"><b>INTRALOG<br>Metrics</b></h3>
  </div>
  <div class="w3-bar-block">
    <a href="{% url 'home' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" style="color: antiquewhite;margin-top:30px;">Home</a>
    {% if request.user.is_authenticated %}
      {% if request.user.is_management or request.user.is_superuser %}
        <a href="{% url 'list_users' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" style="color: antiquewhite;">Listar/eliminar usuarios</a>
        <a href="{% url 'list_companies' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" style="color: antiquewhite;">Modificar compañias</a>
        <a href="{% url 'adminpanel' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" style="color: #f33d30;">Admin Panel</a>
      {% endif %}
    {% endif %}
  </div>
{% endblock %}

{% block main_page %}
<div class="w3-container" style="margin-top:50px; margin-bottom: 50px;" id="showcase">
    <h1 class="w3-jumbo"><b>Administrador de bases de datos</b></h1>
    <p>Por favor instruirse con el administrador de sistema antes de utilizar estas funciones</p>
</div>

<h1 class="w3-jumbo"><b>OMS</b></h1>

<div class="w3-container" id="services" style="margin-top:10px; margin-bottom: 100px;">
    <h1 class="w3-xxxlarge w3-text-red"><b>Poblador de base OMS</b></h1>
    <hr style="width:50px;border:5px solid #f33d30" class="w3-round">
    <p>Levanta el archivo matriz de OMS en la base de datos principal con la siguiente config minima:</p>
    <ul>
      <li>pedido = CharField(max_length=100)
      <li>flujo = CharField(max_length=10)
      <li>seller = ForeignKey(Company, on_delete=models.SET_NULL, related_name="orders", null=True)
      <li>sucursal = CharField(max_length=50)
      <li>estadoPedido = CharField(max_length=50)
      <li>fechaCreacion = DateTimeField()
      <li>fechaRecepcion = DateTimeField(blank=True, null=True)
      <li>fechaDespacho = DateTimeField(blank=True, null=True)
      <li>fechaEntrega = DateTimeField(blank=True, null=True)
      <li>lpn = CharField(max_length=100, unique=True)
      <li>estadoLpn = CharField(max_length=100)
      <li>provincia = CharField(max_length=100)
      <li>localidad = CharField(max_length=100)
      <li>zona = CharField(max_length=100)
      <li>trackingDistribucion = CharField(max_length=100, blank=True, null=True)
      <li>trackingTransporte = CharField(max_length=100, blank=True, null=True)
      <li>codigoPostal = CharField(max_length=10)
    </ul>

    <!-- Upload Form oms -->
    <form id="uploadFormOms" method="POST" enctype="multipart/form-data" action="{% url 'upload_oms_data' %}">
      {% csrf_token %}
      <input type="file" name="oms_excel_file" id="oms_excel_file" required>
      <button type="submit" class="w3-button w3-blue w3-margin-top" onclick="return checkFileAndSubmitOms()">Subir data</button>
    </form>

    <h1 class="w3-xxxlarge w3-text-red" style="margin-top:50px"><b>Template de carga basica OMS</b></h1>
    <hr style="width:50px;border:5px solid #f33d30" class="w3-round">
    <p>Descarga el template basico minimo de carga con el siguiente boton:</p>
      <a href="{% url 'download_template_xlsx' %}" class="w3-button w3-green">Descargar template</a>

    <h1 class="w3-xxxlarge w3-text-red" style="margin-top:50px"><b>Limpiador de base OMS</b></h1>
    <hr style="width:50px;border:5px solid #f33d30" class="w3-round">
    <p>USAR A DISCRECION!!!! Este boton elimina TODOS los registros de la base de datos de OMS:</p>  
    {% if request.user.is_staff %}
      <form method="POST" action="{% url 'delete_all_orders' %}" onsubmit="showDeletingModal()">
        {% csrf_token %}
        <button type="submit" class="w3-button w3-red w3-margin-top" 
          onclick="return confirm('Esta seguro de querer realizar esta transaccion? una vez realizada es irreversible.')">
          Eliminar todas las ordenes
        </button>
      </form>
    {% endif %}
</div>

<h1 class="w3-jumbo"><b>CODIGOS POSTALES</b></h1>

<div class="w3-container" id="services" style="margin-top:10px;margin-bottom:100px">
  <h1 class="w3-xxxlarge w3-text-red"><b>Poblador de Códigos Postales</b></h1>
  <hr style="width:50px;border:5px solid #f33d30" class="w3-round">
  <p>Levanta el archivo de Códigos Postales en la base de datos principal</p>
  <p>
  El archivo debe ser un xlsx sin tablas ni fórmulas, y tener como mínimo los siguientes campos:
  <ul>
      <li>cp = CharField(max_length=4, unique=True)</li>
      <li>localidad = CharField(max_length=100)</li>
      <li>partido = CharField(max_length=100)</li>
      <li>provincia = CharField(max_length=100)</li>
      <li>region = CharField(max_length=100)</li>
      <li>distrito = CharField(max_length=50)</li>
      <li>amba_intralog = BooleanField</li>
      <li>flex = BooleanField</li>
      <li>dias_limite = PositiveIntegerField(max=99)</li>
  </ul>
  </p>
  <!-- Upload Form postalcode -->
  <form id="uploadFormCp" method="POST" enctype="multipart/form-data" action="{% url 'upload_postal_codes' %}">
    {% csrf_token %}
    <input type="file" name="cp_excel_file" id="cp_excel_file" required>
    <button type="submit" class="w3-button w3-blue w3-margin-top" onclick="return checkFileAndSubmitCp()">Subir data</button>
  </form>

  <h1 class="w3-xxxlarge w3-text-red" style="margin-top:50px"><b>Template de carga basica Codigos Postales</b></h1>
    <hr style="width:50px;border:5px solid #f33d30" class="w3-round">
    <p>Descarga el template basico minimo de carga con el siguiente boton:</p>
      <a href="{% url 'download_cp_template_xlsx' %}" class="w3-button w3-green">Descargar template</a>

      <h1 class="w3-xxxlarge w3-text-red" style="margin-top:50px"><b>Limpiador de base codigos postales</b></h1>
      <hr style="width:50px;border:5px solid #f33d30" class="w3-round">
      <p>USAR A DISCRECION!!!! Este boton elimina TODOS los registros de la base de datos de codigo postal:</p>  
      {% if request.user.is_staff %}
        <form method="POST" action="{% url 'delete_all_orders_cp' %}" onsubmit="showDeletingModal()">
          {% csrf_token %}
          <button type="submit" class="w3-button w3-red w3-margin-top" 
            onclick="return confirm('Esta seguro de querer realizar esta transaccion? una vez realizada es irreversible.')">
            Eliminar todos los registros
          </button>
        </form>
    {% endif %}

  </div>
  <h1 class="w3-jumbo"><b>SR tracking data</b></h1>

  <div class="w3-container" id="srapi" style="margin-top:10px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Poblador de base trackings SR</b></h1>
    <hr style="width:50px;border:5px solid #f33d30" class="w3-round">
    <p>Carga la data de los trackings en la base de ordenes a través de la API de SR</p>
    <p>Esta función consulta sobre los tracking cargados en la base de OMS. Asegúrese de que en esta base hay registros correctos.</p>
    <!-- Django Copilot Button Implementation -->
    <button id="startSRTrackingDataProcess" class="w3-button w3-green" onclick="showProcessingModal(); startSrTrackingProcess()">Iniciar procesamiento de trackings SR</button>
    <div id="processingFeedback" class="w3-panel w3-border w3-padding-small w3-margin-top" style="display: none;">
        <p id="feedbackMessage">Iniciando procesamiento...</p>
    </div>
  </div>

  <h1 class="w3-xxxlarge w3-text-red" style="margin-top:50px"><b>Limpiador de base data trk SR</b></h1>
  <hr style="width:50px;border:5px solid #f33d30" class="w3-round">
      <p>USAR A DISCRECION!!!! Este boton elimina TODOS los registros de la base de datos de trackings de SR y sus asociados en OMS</p>  
      {% if request.user.is_staff %}
        <form method="POST" action="{% url 'delete_all_orders_sr' %}" onsubmit="showDeletingModal()">
          {% csrf_token %}
          <button type="submit" class="w3-button w3-red w3-margin-top" 
            onclick="return confirm('Esta seguro de querer realizar esta transaccion? una vez realizada es irreversible.')">
            Eliminar todos los registros
          </button>
      {% endif %}

<!-- Processing Modal -->
<div id="processingModal" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-top">
    <div class="w3-container">
      <span onclick="closeProcessingModal()" class="w3-button w3-xlarge w3-hover-red w3-display-topright">&times;</span>
      <h3>Procesando...</h3>
      <p>Espere mientras procesamos los datos. Esto puede tardar unos minutos.</p>
    </div>
  </div>
</div>

<!-- Modal for Deleting Data -->
<div id="deletingModal" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-top">
      <div class="w3-container">
          <span class="w3-button w3-xlarge w3-hover-red w3-display-topright" onclick="document.getElementById('deletingModal').style.display='none'">&times;</span>
          <h3>Borrando data...</h3>
          <p>Por favor espera mientras se procesa la solicitud. esto puede tardar algunos minutos.</p>
      </div>
  </div>
</div>

<!-- Modal for Showing Success or Error -->
<!-- {% if messages %}
<div id="feedbackModal" class="w3-modal" style="display: block;">
  <div class="w3-modal-content w3-card-4 w3-animate-top">
      <div class="w3-container">
          <span class="w3-button w3-xlarge w3-hover-red w3-display-topright" onclick="document.getElementById('feedbackModal').style.display = 'none'">&times;</span>
          {% for message in messages %}
              {% if message.tags == 'success' %}
                  <h3 class="w3-text-green">Success</h3>
                  <p>{{ message }}</p>
              {% else %}
                  <h3 class="w3-text-red">Error</h3>
                  <p>{{ message }}</p>
              {% endif %}
          {% endfor %}
      </div>
  </div>
</div>
{% endif %} -->

<!-- Feedback Modal (Success/Error) -->
{% if messages %}
<div id="feedbackModal" class="w3-modal" style="display: block;">
  <div class="w3-modal-content w3-card-4 w3-animate-top">
    <div class="w3-container">
      <span onclick="document.getElementById('feedbackModal').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright">&times;</span>
      {% for message in messages %}
        {% if message.tags == 'success' %}
          <h3 class="w3-text-green">Éxito</h3>
          <p>{{ message }}</p>
        {% else %}
          <h3 class="w3-text-red">Error</h3>
          <p>{{ message }}</p>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

<script>
    function showProcessingModal() {
        const modal = document.getElementById('processingModal');
        if (modal) {
            modal.style.display = 'block';
        }
    }

    function closeProcessingModal() {
        document.getElementById('processingModal').style.display = 'none';
    }

    function showDeletingModal() {
        document.getElementById('deletingModal').style.display = 'block';
    }

    function startSrTrackingProcess() {
        // Redirect to the URL that triggers the SR tracking data process
        window.location.href = "{% url 'batch_update_sr_tracking_data' %}";
    }

    function checkFileAndSubmitOms() {
      const fileInput = document.getElementById('oms_excel_file');

      // Check if a file has been selected
      if (!fileInput.value) {
          alert("Por favor, seleccione un archivo antes de subir a la base de oms.");
          return false;  // Prevent the form submission and modal from showing
      }

      // Show the processing modal if a file is selected
      showProcessingModal();
      return true;  // Allow form submission
    }

    function checkFileAndSubmitCp() {
      const fileInput = document.getElementById('cp_excel_file');

      // Check if a file has been selected
      if (!fileInput.value) {
          alert("Por favor, seleccione un archivo antes de subir a la base de cp.");
          return false;  // Prevent the form submission and modal from showing
      }

      // Show the processing modal if a file is selected
      showProcessingModal();
      return true;  // Allow form submission
    }

</script>
<!-- <script>
  document.getElementById('startSRTrackingDataProcess').addEventListener('click', function () {
      const feedbackPanel = document.getElementById('processingFeedback');
      feedbackPanel.style.display = 'block';
      const feedbackMessage = document.getElementById('feedbackMessage');

      // Send AJAX request to start SR Tracking Data processing
      fetch("{% url 'batch_update_sr_tracking_data' %}", {
          method: "POST",
          headers: {
              "X-CSRFToken": "{{ csrf_token }}",
              "Content-Type": "application/json"
          }
      })
      .then(response => response.json())
      .then(data => {
          feedbackMessage.innerText = data.message;
          if (data.status === 'complete') {
              feedbackPanel.classList.replace('w3-border', 'w3-green');
          } else if (data.status === 'error') {
              feedbackPanel.classList.replace('w3-border', 'w3-red');
          }
      })
      .catch(error => {
          feedbackMessage.innerText = "Error durante el procesamiento.";
          feedbackPanel.classList.replace('w3-border', 'w3-red');
      });
  });
</script> -->

{% endblock %}