{% extends 'base.html' %}

{% block sidebar %}
<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;background-color: #234154;" id="mySidebar"><br>
  {% if request.user.is_authenticated %}
  <div class="w3-bar-item" style="margin-left: 15px;">
    <span style="color: antiquewhite;">Bienvenido <strong>{{ request.user.username }}</strong></span><br>
  </div>
  <button class="w3-bar-item w3-button w3-left login-btn " style="margin-bottom:10px;color:#f33d30;" onclick="showLogoutModal()">Logout</button>
  {% else %}
  <button class="w3-bar-item w3-button w3-left login-btn " style="margin-bottom:10px;color:#f33d30;" onclick="document.getElementById('loginModal').style.display='block'">Login</button>
  {% endif %}
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 style="color:azure;"><b>INTRALOG<br>Metrics</b></h3>
  </div>
  <div class="w3-bar-block">
    <a href="{% url 'home' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" style="color: antiquewhite;margin-top:30px;">Home</a>
    {% if request.user.is_authenticated %}
      {% if request.user.is_management or request.user.is_superuser %}
        <a href="{% url 'list_users' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" style="color: antiquewhite;">Listar/eliminar usuarios</a>
        <a href="{% url 'create_company' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" style="color: antiquewhite;">Crear compañias</a>
        <a href="{% url 'adminpanel' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" style="color: #f33d30;">Admin Panel</a>
      {% endif %}
    {% endif %}
  </div>
{% endblock %}

{% block main_page %}
<div class="w3-container" style="margin-top:50px" id="showcase">
    <h1 class="w3-jumbo"><b>Administrador de bases de datos</b></h1>
    <p>Por favor instruirse con el administrador de sistema antes de utilizar estas funciones</p>
</div>

<div class="w3-container" id="services" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Poblador de base OMS</b></h1>
    <hr style="width:50px;border:5px solid #f33d30" class="w3-round">
    <p>Levanta el archivo matriz de OMS en la base de datos principal con la siguiente config minima:</p>
    <ul>
      <li>pedido = CharField(max_length=100)
      <li>flujo = CharField(max_length=10)
      <li>seller = ForeignKey(Company, on_delete=models.SET_NULL, related_name="orders", null=True)
      <li>sucursal = CharField(max_length=50)
      <li>estadoPedido = CharField(max_length=50)
      <li>fechaCreacion = DateTimeField()
      <li>fechaRecepcion = DateTimeField(blank=True, null=True)
      <li>fechaDespacho = DateTimeField(blank=True, null=True)
      <li>fechaEntrega = DateTimeField(blank=True, null=True)
      <li>lpn = CharField(max_length=100, unique=True)
      <li>estadoLpn = CharField(max_length=100)
      <li>provincia = CharField(max_length=100)
      <li>localidad = CharField(max_length=100)
      <li>zona = CharField(max_length=100)
      <li>trackingDistribucion = CharField(max_length=100, blank=True, null=True)
      <li>trackingTransporte = CharField(max_length=100, blank=True, null=True)
      <li>codigoPostal = CharField(max_length=10)
    </ul>

    <!-- Upload Form -->
    <form id="uploadForm" method="POST" enctype="multipart/form-data" action="{% url 'upload_oms_data' %}">
      {% csrf_token %}
      <input type="file" name="excel_file" id="excel_file" required>
      <button type="submit" class="w3-button w3-blue w3-margin-top" onclick="showProcessingModal()">Subir data</button>
    </form>

    <h1 class="w3-xxxlarge w3-text-red" style="margin-top:100px"><b>Template de carga basica OMS</b></h1>
    <hr style="width:50px;border:5px solid #f33d30" class="w3-round">
    <p>Descarga el template basico minimo de carga con el siguiente boton:</p>
      <a href="{% url 'download_template_xlsx' %}" class="w3-button w3-green w3-margin-left">Descargar template</a>

    <h1 class="w3-xxxlarge w3-text-red" style="margin-top:100px"><b>Limpiador de base </b></h1>
    <hr style="width:50px;border:5px solid #f33d30" class="w3-round">
    <p>USAR A DISCRECION!!!! Este boton elimina TODOS los registros de la base de datos de OMS:</p>  
    {% if request.user.is_staff %}
      <form method="POST" action="{% url 'delete_all_orders' %}" onsubmit="showDeletingModal()">
        {% csrf_token %}
        <button type="submit" class="w3-button w3-red w3-margin-top" 
          onclick="return confirm('Esta seguro de querer realizar esta transaccion? una vez realizada es irreversible.')">
          Eliminar todas las ordenes
        </button>
      </form>
    {% endif %}
</div>

<!-- Modal for Processing -->
<div id="processingModal" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-top">
      <div class="w3-container">
          <span class="w3-button w3-xlarge w3-hover-red w3-display-topright">&times;</span>
          <h3>Processing...</h3>
          <p>Please wait while the file is being processed.</p>
      </div>
  </div>
</div>

<!-- Modal for Deleting Data -->
<div id="deletingModal" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-top">
      <div class="w3-container">
          <span class="w3-button w3-xlarge w3-hover-red w3-display-topright" onclick="document.getElementById('deletingModal').style.display='none'">&times;</span>
          <h3>Deleting data...</h3>
          <p>Please wait while the data is being deleted. This may take a few moments.</p>
      </div>
  </div>
</div>

<!-- Modal for Showing Success or Error -->
{% if messages %}
<div id="feedbackModal" class="w3-modal" style="display: block;">
  <div class="w3-modal-content w3-card-4 w3-animate-top">
      <div class="w3-container">
          <span class="w3-button w3-xlarge w3-hover-red w3-display-topright" onclick="document.getElementById('feedbackModal').style.display = 'none'">&times;</span>
          {% for message in messages %}
              {% if message.tags == 'success' %}
                  <h3 class="w3-text-green">Success</h3>
                  <p>{{ message }}</p>
              {% else %}
                  <h3 class="w3-text-red">Error</h3>
                  <p>{{ message }}</p>
              {% endif %}
          {% endfor %}
      </div>
  </div>
</div>
{% endif %}

<script>
    function showProcessingModal() {
        document.getElementById('processingModal').style.display = 'block';
    }

    function showDeletingModal() {
        document.getElementById('deletingModal').style.display = 'block';
    }
</script>
{% endblock %}