{% extends 'base.html' %}
{% block sidebar %}
<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;background-color: #234154;" id="mySidebar"><br>
  {% if request.user.is_authenticated %}
  <div class="w3-bar-item" style="margin-left: 15px;">
    <span style="color: antiquewhite;">Bienvenido <strong>{{ request.user.username }}</strong></span><br>
  </div>
  <button class="w3-bar-item w3-button w3-left login-btn " style="margin-bottom:10px;color:#f33d30;" onclick="showLogoutModal()">Logout</button>
  {% else %}
  <button class="w3-bar-item w3-button w3-left login-btn " style="margin-bottom:10px;color:#f33d30;" onclick="document.getElementById('loginModal').style.display='block'">Login</button>
  {% endif %}
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 style="color:azure;"><b>INTRALOG<br>Metrics</b></h3>
  </div>
  <div class="w3-bar-block">
    <a href="{% url 'home' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" style="color: antiquewhite;margin-top:30px;">Home</a>
    {% if request.user.is_authenticated %}
      {% if request.user.is_management or request.user.is_superuser %}
        <a href="{% url 'create_user' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" style="color: antiquewhite;">Crear usuarios</a>
        <a href="{% url 'list_users' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" style="color: antiquewhite;">Listar/eliminar usuarios</a>
        <a href="{% url 'adminpanel' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" style="color: #f33d30;">Admin Panel</a>
      {% endif %}
      {% if request.user.is_superuser %}
      {% endif %}
    {% endif %}
  </div>
{% endblock %}
{% block main_page %}
<div class="w3-main" style="margin-left:30px;margin-top:43px;">
    <h2 class="w3-xxxlarge w3-text-red">Listado de usuarios</h2>
    <table class="w3-table w3-bordered w3-striped w3-hoverable">
        <thead>
            <tr class="w3-light-grey">
                <th>ID</th>
                <th>Nombre de usuario</th>
                <th>Email</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Rol</th>
                {% if request.user.is_management %}
                <th>Acciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.role }}</td>
                {% if request.user.is_staff %}
                <td>
                    {% if user.is_staff %}
                        <a href="#" class="w3-button w3-red">sysAdmin</a>
                    {% else %}
                        <a href="{% url 'delete_user' user.id %}" class="w3-button w3-red">Eliminar</a>
                    {% endif %}
                </td>
                {% endif %}
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
